name: IaC CI Deployment

on:
  push:
    paths:
      - 'iac/**'
    branches:
      - master

jobs:
  terraform-deploy:
    runs-on: ubuntu-latest
    env:
      ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      TF_VERSION: 1.14.0

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}

      - name: Terraform Init
        run: terraform init 
        working-directory: ./iac

      - name: Terraform Validate
        run: terraform validate 
        working-directory: ./iac

      - name: Terraform Plan
        run: terraform plan -var="sql_pass=${{ secrets.TF_VAR_DB_PASSWORD }}" --out=tfplan
        working-directory: ./iac

      - name: Terraform Apply
        run: terraform apply -auto-approve tfplan 
        working-directory: ./iac

      - name: Notify Failure
        if: failure()
        run: echo "Terraform deployment failed! Errors ${{ github.ref_name }}"